<md-list style="margin-top: 64px">
  <md-list-item routerLink="/home" routerLinkActive="active">
    <h5 md-line>每日推荐</h5>
  </md-list-item>
  <md-list-item routerLink="/jokes" routerLinkActive="active">
    <h5 md-line>段子</h5>
  </md-list-item>
  <md-list-item routerLink="/game-lol" routerLinkActive="active">
    <h5 md-line>英雄联盟</h5>
  </md-list-item>
  <md-list-item routerLink="/top-news" routerLinkActive="active">
    <h5 md-line>头条</h5>
  </md-list-item>
  <md-divider></md-divider>
  <h3 md-subheader>Notes</h3>
  <md-list-item *ngFor="let note of notes">
    <h5 md-line>{{note.name}}</h5>
    <p md-line> {{note.updated | date}} </p>
  </md-list-item>
</md-list>
