<div class="col-md-12">
  <md-card class="col-12 m-0 mb-4" *ngFor="let item of  jokesList">
    <md-card-title><h5 [innerHtml]="item.title"></h5></md-card-title>
    <md-card-content>
      <div *ngIf="item.text"
           [innerHtml]="item.text"></div>
    </md-card-content>
    <md-card-content class="text-center">
      <img class="img-fluid " *ngFor="let pic of item.pics" [src]="pic">
    </md-card-content>
    <md-card-actions style="border-top: 1px solid #eee" class="text-right">
      <button md-button (click)="praiseJoke(item)" mdTooltip="{{item.isPraise?'已赞':''}}"
              [disabled]="item.isPraise"
              [tooltip-position]="'above'">
        <md-icon svgIcon="like" [ngClass]="{'text-danger':item.isPraise}"></md-icon>
        {{item.praise?item.praise:0}}
      </button>
      <button md-button [mdMenuTriggerFor]="menu">
        <md-icon svgIcon="share"></md-icon>
        分享
        <md-menu #menu="mdMenu" yPosition="above" xPosition="before">
          <button md-menu-item (click)="sharetoqq(item,'localhost/index.html')">
            <span>QQ空间</span>
          </button>
          <button md-menu-item disabled>
            <span>Check voicemail</span>
          </button>
          <button md-menu-item>
            <span>Disable alerts</span>
          </button>
        </md-menu>
      </button>
      <button class="float-left" md-button>{{item.create_time|date:'MM月dd日 HH:mm'}}</button>
    </md-card-actions>
  </md-card>
</div>
<div class="col-md-12 text-center">
  <button md-button (click)="getJokeList()">
    <md-spinner></md-spinner>
  </button>
</div>


